<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/normalize.css" />
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
<link rel="stylesheet" media="print" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/print.css" />
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css" />
{% if FEED_ALL_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
{% endif %}
{% if FEED_ALL_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
<header>
	<p class="banner"><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %}</a><br><strong>{{ SITESUBTITLE }}</strong>{% endif %}</p>
	<nav><ul>
	{% for title, link in MENUITEMS %}
		<li><a href="{{ link }}">{{ title }}</a>
	{% endfor %}
	{% if DISPLAY_PAGES_ON_MENU -%}
	{% for pg in pages %}
		<li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
	{% endfor %}
	{% endif %}
	{% if DISPLAY_CATEGORIES_ON_MENU -%}
	{% for cat, null in categories %}
		<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
	{% endfor %}
	{% endif %}
	</ul></nav>
</header>
{% block content %}
{% endblock %}
{% if LINKS %}
<aside>
	<p>
		{{ LINKS_WIDGET_NAME | default('Links') }}:
		{% for name, link in LINKS %}
			<a href="{{ link }}">{{ name }}</a>, 
		{% endfor %}
	</div><!-- /.blogroll -->
</aside><!-- /#extras -->
{% endif %}
{% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
<aside>
	<p>
		{{ SOCIAL_WIDGET_NAME | default('Social') }}: 
		{% if FEED_ALL_ATOM %}
		<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">Atom feed</a>, 
		{% endif %}
		{% if FEED_ALL_RSS %}
		<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">RSS feed</a>, 
		{% endif %}

	{% for name, link in SOCIAL %}
		{% if loop.last %}
			<a href="{{ link }}">{{ name }}</a>
			{% else %}
			<a href="{{ link }}">{{ name }}</a>, 
		{% endif %}
	{% endfor %}
	</p>
</aside><!-- /#extras -->
{% endif %}
{% include 'analytics.html' %}
{% include 'disqus_script.html' %}